/* GENERAL */

body {
    margin: 0;
    padding: 0;

}

.hide {
    display: none;
}
header {
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo {
    max-width: 100%;
    width: 200px;
    margin: 25px 25px;
    height: auto;
}

.card_container {
    margin-bottom: 50px;
}
/*LANDING */

.h_card {
    text-align: center;
    margin-top: 100px;
}

.header_landing {

}
/*LANDING MOBILE */
@media (max-width: 900px) {
  .how_button {
    display: none;
}


}

/*LANDING DESKTOP*/
.card{
    margin: 0 auto;
}
@media (min-width: 1200px) {
.card_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
}
.card {
        width: 30vw;
    }
    }

@media (max-width: 800px) {
    .card_container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 40px;
}
    .card {
        width: 80vw;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .card_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}
    .card {
        width: 45vw;
    }
}


.card {
  position: relative;
    background:#e91d62;
    border:1px solid #979797;
    box-shadow:5px 5px 4px 0 rgba(0,0,0,0.50);
    height:220px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.card:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text_sub {
  display: flex;
  flex-direction: row;
  text-align: center;
  white-space: nowrap;
  color: white;
  font-size: 20px;
  overflow: hidden;
  top: 34%;
  left: 93%;
    position: relative;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (min-width: 900px) {
  svg {
    display: none;
}
    .modal {
        display: none;
    }

}



.displayed {
    display: none;
}

/*OVERLAY MENU MOBILE */

.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 40;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
}
.burger_nav {

}
.burger_nav ul li:hover > .sub
{
	display:block;
}
.burger_nav ul .sub {
    display: none;
}

/*ONSITE MOBILE */



/*ONSITE DESKTOP*/
@media (max-width: 900px) {
  #primary_nav_wrap {
    display: none;
}

}
#primary_nav_wrap ul li:hover > ul
{
	display:block;
}

#primary_nav_wrap ul ul li
{
	width:200px
}
#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}
#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}
#primary_nav_wrap ul
{
	list-style:none;
}
#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;

}
#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd;
}
#primary_nav_wrap ul li:hover
{
	background:#f6f6f6;
}
#primary_nav_wrap ul ul
{
	display:none;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}
#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}
